<ion-view view-title="Editar Nota">
    <ion-content>
        <div class="list card">
            <div class="item-input item-floating-label item-icon-right">
                <span class="input-label positive">Titulo</span>
                <input name="titulo" type="text" ng-model="nota.title" placeholder="Titulo">
            </div>
        </div>

            <div>
                <label class="item item-input item-stacked-label">
                    <textarea name="desc" ng-model="nota.descripcion" placeholder="Agregar texto" elastic></textarea>
                </label>
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-dark">
        <a class="button button-positive icon-left ion-compose" ng-click="save()">Guardar</a>
    </ion-footer-bar>
</ion-view>
