<ion-view view-title="Lista de Notas">
    <ion-content ng-controller="ListCtrl">
        <ion-list>
            <ion-item class="item-remove-animate item-icon-left item-icon-right" href="#/edit/{{nota._id}}" ng-repeat="nota in notest">
                {{nota.title}}
                
                <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="remove(nota._id)">Eliminar</ion-option-button>
            </ion-item>

        </ion-list>
        <div ng-if="notest.length === 0">
            <h4 style="text-align:center;" class="positive ion-information-circled"> Aun no existen notas</h4>
        </div>
        <a class="button button-positive icon-left ion-compose" ng-click="showPopup()">Agregar</a>
    </ion-content>
</ion-view>